*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  position:relative;
  background:grey;
  color: black;
  font-size: 40px;
  height: auto;
  width: auto;
}

body{
  position:relative;
  background: pink;
}

.navContainer{
background:blue;
display: flex;
justify-content: space-around;
align-items: center;
min-height: 5px;
}

.logo{
  color:white;
  background:green;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
}
.navList{
  list-style: none;
  background: red;
  display:flex;
  justify-content: space-around;
  width: 50%;
  
}


@media screen and (max-width:760px){
  body{
    display:none;
  }
}

.modal-wrapper{
  position: fixed;
  top: 50%;
  left: 80%;
  width:40%;
  height:40%;
  transform: translate(-50%, -50%);
  background:purple
}

.listing-form{
  width:40%;
  background:grey;
}
input{
  height:50px;
  font-size: 30px;
  width: 80%;
}
.list-button{
  width:100px;
  height:50px;
  font-size: 20px;
}


.listingContainer{
  background: lightcoral;
  width:60%;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}

.list{
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 99;
  height: 1000px;
  width: 1000px;
  border: 15px solid #000;
  left:170px;
}

.list iframe{
  position: absolute;
  border-radius: 50%;
  top: 0; left: 0;
  z-index: 50;
}
.list-modal{
  position: relative;
  background: orange;
  z-index: 100;
  top: -700px;
  width: 40%;
  right: -800px;
  float:right;
  list-style: none;
}

.login-register{
  background:yellow;
  width: 50%;
}

.create-account-form{
  width: 40%;
}

.create-account-input{
  font-size: 20px;
  
}

.create-acct-button{
  width:100px;
  height: 50px;
}

.list-modal-btn{
  width: 100px;
  height: 50px;
}

.reserve-btn{
  width:100px;
  height:50px;
}

.account-container{
  height: 500px;
}