*{
  margin: 0px;
  padding:8px, 5px, 5px, 0px;
  box-sizing: border-box;
  font-family: 'Cutive Mono', monospace;
}

.App{
  position: relative;
  width:100%;
  height:100%;
  top:25px;
  left: 0px;
  right: 0px;

}




.navContainer{
position: static;
justify-content: space-around;
align-items: center;
height:140px;
margin-left:40px;
transition: al 1.3s;  
}

.logo{
  color:white;
  margin-top:0px;
  width:fit-content;
  text-transform: lowercase;
  letter-spacing: 5px;
  font-size: 50px;
  color:black;
}
.navList{
  /* display: block; */
  color: #000;
  padding: 0 16px;
}

  
.li-nav{
  display: block;
  color: #000;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  width:fit-content;
  margin-top: 90px;
  font-weight: 800;
  letter-spacing: 6px;
}

.li-nav:hover{
  transform: scale(1.2)
}

@media screen and (max-width:760px){
  body{
    display:none;
  }
}

.modal-wrapper{
  transition: opacity 9s ease-in;
  position: fixed;
  z-index: 1;
  background:#5ea79b;

  width:25%;
  height:30%;
  left:900px;
  top:300px;
  transform: translate(-50%, -80%) scale (1.5);
  transition-delay: 2s;
  border-radius: 10px;
  box-shadow: 15px 15px 10px #000000;
  word-spacing: 1px;
  padding:30px 10px;
}


.x-exit{
  width:40px;
  height:40px;
  font-size: 40px;
  font-weight: 950;
  float:right;
  cursor: pointer;
  margin-top:-10px;
  margin-right:-10px;
}

.modal-head{
  font-size: 45px;
  margin-left:10px;
  margin-top:5px;
}

.address-title{
 margin-left:12px;
 margin-top:35px;
}

.location-search-input{
  background:white;
  margin-left:12px;
  margin-top:10px;
}


.listing-form{
  width:40%;
  background:grey;
}
input{
  height:50px;
  font-size: 30px;
  width: 80%;
}
.list-button{
  width:100px;
  height:50px;
  font-size: 20px;
}


.listingContainer{
  background: white;
  width:100%;
  margin-top:5px;
  height: 1021px;
  z-index: -3;
  border-right-style: solid;
  border-right-color: black;
  border-right-width:1080px;

}

.list{
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  z-index: 0;
  height: 1022px;
  width: 1021px;
  border: 30px solid #000;
  left: 688px;
  margin-top:-95px;
}


.reservations-page{
  background: white;
  width:100%;
  height: 135px;
  margin-top:-90px;
  z-index: -3;
  border-right-width:1350px;
  border-right-style: solid;
  border-right-color:#5ea79b;
  border-right-width:1080px
}
.account-page{
  background: white;
  width:100%;
  height: 135px;
  margin-top:-90px;
  z-index: -3;
  border-right-width:1300px;
  border-right-style: solid;
  border-right-color:#5ea79b;
  border-right-width:1080px
}

.listing-banner{
  position: absolute;
  font-size: 80px;
  color:white;
  right:0;
  margin-right:1080px;
  letter-spacing: 3px;
  margin-top:20px;
}

.listing-banner-2{
  position: absolute;
  font-size: 80px;
  color:black;
  background:#5ea79b;
  right:0;
  margin-right:769px;
  letter-spacing: 3px;
  margin-top:20px;
}

.listing-banner-3{
  position: absolute;
  font-size: 80px;
  color:black;
  background:#5ea79b;
  right:0;
  margin-right:509px;
  letter-spacing: 3px;
  margin-top:20px;;
}

.reserv-banner{
  position: absolute;
  font-size: 80px;
  color:white;
  right:0;
  margin-right:1053px;
  letter-spacing: 3px;
  margin-top:20px;
}

.reserv-banner-2{
  position: absolute;
  font-size: 80px;
  color:black;
  right:0;
  margin-right:749px;
  letter-spacing: 3px;
  margin-top:20px;
}

.reserv-cards{
  position:relative;
  color:white;
  margin-right:1053px;
  letter-spacing: 3px;
  width:530px;
  left:1215px;
  top:135px;
  height:auto;
}



.row{
  float: left;
  width: 65%;
  /* padding: 0 10px; */
 
}

.card{
  background: white;
  color:black;
  padding:30px 5px;
  border-style:solid;
  border-color:#5ea79b;
  border-width:2px;
  height:890px;
  width:1089px;
  border-right-width:190px;
  border-right-color:#5ea79b;
  border-bottom-width:90px;
  border-bottom-color:black;
  border-left-color:black;
  border-left-width:10px;



}

.date-text{
  margin-left:65px;
  margin-top:50px;
  font-size: 50px;
  margin-bottom:35px;
 
}

.time-text{
  margin-left:65px;
  margin-bottom:10px;
  font-size: 35px;
}

.checkbox{
  width:10%;
  margin-top:75px;
  float:left;
  margin-left:100px;
 
}

.checkbox:hover{
  transform: scale(1.2)
}

.checkbox-label{
  font-size: 30px;
  font-weight: 900;
  margin-top:85px;
  margin-right:-50px;
  float:left;
  margin-left:65px;
}

.review-btn{
  width:120px;
  height:50px;
  margin-top:310px;
  margin-left:15px;
  font-size:25px;
  font-weight: 600;
  letter-spacing: 3px;
  background:#5ea79b;
  color:white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.review-btn:hover{
  transform: scale(1.2);
   background: black;
   color:white;
}

.review-box{
  float:left;
  font-size:30px;
  font-weight: 800;
  margin-top:60px;
  height:300px;
  width:600px;
  border-style:solid;
  border-width: 3px;
  margin-left:65px;
}

.review-hide{
 display:none;
}

.rvw-btn-hide{
  display:none;
}

.reviewList{
  margin-top:15px;
  height:200px;
  overflow: scroll;
  font-size:40px;
  list-style-type: square;
  border-style: solid;
  border-color:black;
  border-width:3px;
  border-radius:5px;
  background:rgb(255, 255, 255);
  color:black;
  letter-spacing: 2px;
  width:530px;

}


.account-container{
  float:right;
  margin-right:100px;
  width:60%;
  height:auto;
  padding:20px 20px;

}

.act-header{
  font-size: 45px;
  font-weight: 900;
  padding:20px 20px;
}
.account-div{
  position:absolute;
  margin-bottom: 20px;
  top:200px;
  left:1224px;
  z-index: 10;
  background:white;
  float:left;
  width:1100px;
  height:889px;
  color: black;
  font-size:30px;
  padding:20px 20px;
  border-right-style:solid;
  border-right-color:#5ea79b;
  border-right-width: 130px;
  border-bottom-style:solid;
  border-bottom-color:black;
  border-bottom-width: 100px;
}

.list-delete{
  float:left;
  background:#5ea79b;
  color:white;
  margin-right:100px;
  width:350px;
  height:40px;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top:40px;
}

.list-update{
  float:left;
  background:#5ea79b;
  color:white;
  margin-right:5px;
  width:350px;
  height:40px;
  font-size:25px;
  font-weight:800 ;
  letter-spacing: 2px;
  margin-top:40px;
}

.list-update:hover{
  background:black;
  transform: scale(1.2)
}

.list-delete:hover{
  background:black;
  transform: scale(1.2)
}

.list-item{
 margin-left:15px;
  font-size: 35px;
   color:black
}

.act-list-items{
  margin-bottom: 20px;
  margin-top:50px;
  text-transform: capitalize;
}

.box{
  z-index: 20;
  background: black;
  width:400px;
  height:1025px;
  float:right;
}

.box-2{
  position: absolute;
  width:140px;
  height:1080px;
  background: rgb(183, 208, 135);
  margin-left:2120px;
  margin-top:-1090px;

}
::-webkit-scrollbar {
  display: none;
}


.list-modal{
  list-style: none;
  transition: opacity 9s ease-in;
  position: fixed;
  z-index: 1;
  background: #5ea79b;
  width:25%;
  height:auto;
  left:900px;
  top:240px;
  transform: translate(-50%, -80%) scale (1.5);
  transition-delay: 2s;
  border-radius: 10px;
  box-shadow: 15px 15px 10px #000000;
  word-spacing: 1px;
  padding:30px 10px;
}

.list-modal-li{
  font-size: 35px;
  margin-left:10px;
  float:left;
}

.title-list{
 font-size:30px;
 font-weight: 800;
 margin-top:20px;
 margin-bottom:15px;
 text-transform: capitalize;

}

.title-list-2{
  margin-top:35px;
  font-size:25px;
  padding:5px;
  font-weight: 300;
}

.list-modal-btn{
  width: 100px;
  height: 50px;
  font-size:20px;
  font-weight: 800;
  margin-left:10px;
  margin-top:20px;

}
.x-exit-list{
  width:40px;
  height:40px;
  font-size: 40px;
  font-weight: 950;
  float:right;
  cursor: pointer;
  margin-top:-30px;
  margin-right:-40px;
}

.reserve-btn{
  float:right;
  height:50px;
  font-size:25px;
  font-weight: 800;
  margin-right:10px;
  margin-top:30px;
  width: 49%;
}

.list-button{
  float:right;
  height:50px;
  font-size:25px;
  font-weight: 800;
  margin-left:5px;
  margin-top:10px;
  width: 50%;
}

.reserve-input{
  width:50%;
  margin-top:50px;
  float:left;
  margin-left:270px;
}


.reservation-wrapper{
  padding:30px 10px;
  margin-top:100px;
}
.create-account-form{
  width: 18%;
  height:40%;
  float:right;
  margin-top:350px;
  margin-right:570px;
  border-radius: 2%;
  z-index:10;
}

.create-account-input{
  font-size: 20px;
  width:100%;
  margin-left:40px;
  padding: 10px 10px;
  color:black;


}
.name-input-sign{
  margin-bottom:5px;

}
.email-input-sign{
  margin-bottom: 5px;

}
.pass-input-sign{
  margin-bottom: 5px;

}
.age-input-sign{
  margin-bottom: 5px;

}
.contact-input-sign{
  margin-bottom: 5px;

}

.signup-head{
  color:black;
  padding:20px 20px;
  margin-left:-40px;
  margin-bottom:20px;
}
.login-head{
  color:black;
  padding:20px;
  margin-left:-30px;
  margin-bottom: 25px;
}

.email-input-log{
  margin-bottom:25px;
}

.pass-input-log{
  margin-bottom: 25px;
}

.create-acct-button{
  width:310px;
  height: 50px;
  margin-left:50px;
  background-color: #5ea79b;
  color:white;
  font-size:40px;
  font-weight: 800;
  letter-spacing: 2px;
}

.login-acct-button{
  width:310px;
  height: 50px;
  margin-left:50px;
  background-color: #5ea79b;
  color:white;
  font-size:40px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top:120px;
  z-index:1;
}

.login-acct-button:hover{
  background:black;
  transform: scale(1.0);
}

.create-acct-button:hover{
  background:black;
  transform: scale(1.0);
  
}

.login-account-form{
  display:block;
  width: 18%;
  height:35%;
  float:right;
  margin-right:-920px;
  margin-top:350px;
  border-radius: 2%;
}

.autocomplete-dropdown-container{
  font-size:25px;
  height:100px;
}

.resv-badge{
  background:red;
  position: absolute;
  z-index: 10;
  color:white;
  font-weight: 800;
  font-size:30px;
  margin-left:380px;
  width:30px;
  height:30px;
  border-radius: 50%;
  top:700px;
  padding-left:5px;
}
.resv-badge-hide{
display: none;
}


.list-badge{
  background:red;
  position: absolute;
  z-index: 10;
  color:white;
  font-weight: 800;
  font-size:30px;
  margin-left:445px;
  width:30px;
  height:30px;
  border-radius: 50%;
  top:530px;
  padding-left:5px;
}
.list-badge-hide{
display: none;
}

.text-modal{
  position: relative;
  overflow: scroll;
  background:#F5F5F5;
  box-shadow: 8px 15px 15px #000000;
  z-index:10;
  float:right;
  height:1000px;
  width:600px;
  margin-right:-1140px;
  border-style:solid;
  border-color:black;
  border-width:10px;
  border-radius: 15px;
}

.send-msg{
  position: absolute;
  overflow: scroll;
  width:730px;
  bottom:0;
}

.x-exit-chat{
  float:right;
  font-size:50px;
}

.text-messages{
  position: relative;  
  top:80px;
  font-size:30px;
  font-weight:700;
  padding:5px;
  margin-bottom:15px;
}

.ind-text-user{
  color:black;
  font-weight:800;
  font-size:25px;
  text-transform: capitalize;
}

.text-submit{
  position: relative;
  background:#5ea79b;
  color: white;
  font-weight: 800;
}

.text-btn-list{
  width:200px;
  height:40px;
  background:#5ea79b;
  color: white;
  font-weight:600;
  font-size:25px;
  letter-spacing: 2px;
}

.text-btn-list:hover{
  background:black;
  transform: scale(1.2);
  color:white;
}

.txt-msg-rsv{
  width:150px;
  height:40px;
  background:#5ea79b;
  color: white;
  font-weight:600;
  font-size:25px;
  letter-spacing: 2px;
  float:left;
  margin-left:70px;
  margin-top:15px;

}

.txt-msg-rsv:hover{
  background:black;
  transform: scale(1.2);
  color:white;
}

.profile-info{
  position:absolute;
  right:0;
  height:800px;
  margin-top:200px;
  margin-right:350px;
  width:700px;
  font-size:25px;

}

.profile-input{
  margin-bottom:30px;
  margin-left: 15px;
  background: lightgray;
}

.profile-input-name{
  margin-bottom:50px;
  margin-left: 45px;
  background: lightgray;
}

.profile-input-email{
  margin-bottom:50px;
  margin-left: 45px;
  background: lightgray;
}
.profile-input-contact{
  margin-bottom:20px;
  margin-left: 45px;
  background: lightgray;
}

.edit-profile{
  width:100px;
  height:40px;
  margin-top:30px;
  margin-left:50px;
  background:#5ea79b;
  color: white;
  font-weight:600;
  font-size:25px;
  letter-spacing: 3px;
}

.edit-profile:hover{
  background:black;
  transform: scale(1.2);
  color:white;
}

.edit-profile-2{
  width:160px;
  height:40px;
  margin-top:30px;
  margin-left:50px;
  background:#5ea79b;
  color:white;
  font-weight:600;
  font-size:25px;
  letter-spacing: 3px;
}


.login-register{
position:absolute;

}

.logoImage{
  position:absolute;
  height:1000px;
  margin-left:80px;
  z-index:-1;
  margin-top:20px;
 
}

.banner-1{
  position: absolute;
  right:0;
  width:500px;
  height:550px;
  margin-top:325px;
  margin-right:530px;
  /* margin-left:180px; */
  z-index: -1;
}
.banner-2{
  position: absolute;
  right:0;
  width:500px;
  height:550px;
  margin-top:325px;
  margin-right:20px;
  z-index: -1;
}

.hanger-1{
  position: absolute;
  width:500px;
  height:200px;
  right:0;
  margin-top:140px;
  margin-right:530px;
 }

.hanger-2{
  position: absolute;
  right:0;
  width:500px;
  height:200px;
  margin-right:20px;
  margin-top:140px;

}

.error{
  position: absolute;
  bottom:0;
  right:0;
  font-size: 30px;
  letter-spacing: 3px;
  color: #E33C3C;
  margin-bottom:-150px;
  margin-right:60px;
  transition: 400s;
  
}

.slogan{
  position:absolute;
  z-index:1;
  bottom:0;
  margin-bottom:180px;
  font-size: 40px;
  margin-left:130px;

  font-weight: 800;
}

.slogan-1{
  position:absolute;
  z-index:1;
  bottom:0;
  margin-bottom:110px;
  margin-left:540px;
  color: #5ea79b;
  font-weight: 800;
  font-size:40px;
}
.you{
  color:black;
  font-size:50px;
}

.shit{
  color: #5ea79b;
  font-size:50px;
}